**/benchmarks
**/reconstructions
**/simulations

downstream_analysis/input/genotypes/EuropeFullyPublic/
downstream_analysis/input/illumina_forward_reads/
downstream_analysis/input/ref_genome/
**/initial_trim
**/alignment
**/eigenstrat*/*/*
**.geno

**/.snakemake


.conda/*
.git/*
gabrieldir/*
leonardos_project/*
playfile.py
__pycache__/
list_serv1_13minus7
